@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-section {
  margin: 0 auto;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .l-section {
    padding: 0;
    padding-top: 40px;
  }
}

.l-inner {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #111;
}

.l-header {
  width: 100%;
  padding-top: 0;
  padding-left: 40px;
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .l-header {
    padding-left: 20px;
  }
}
.l-header__inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .l-header__logo {
    width: 100px;
  }
}
.l-header__contact {
  padding-right: 60px;
}
@media screen and (max-width: 768px) {
  .l-header__contact {
    padding-right: 20px;
  }
}
.l-header__contact__btn {
  width: 250px !important;
  height: 50px !important;
  font-size: 16px !important;
  opacity: 0;
  transition: ease 0.3s;
}
@media screen and (max-width: 768px) {
  .l-header__contact__btn {
    width: 180px !important;
    height: 36px !important;
    font-size: 12px !important;
  }
}
.l-header__contact__btn.is-fixed {
  opacity: 1;
}

.l-footer {
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding: 50px 0;
  }
}
.l-footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .l-footer__copyright {
    width: 87px;
  }
}

.c-contact-btn {
  background-color: #EB51C2;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  width: 360px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .c-contact-btn {
    font-size: 13px;
    height: 52px;
  }
}

.c-title {
  color: #EB51C2;
  font-size: 64px;
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
@media screen and (max-width: 768px) {
  .c-title {
    font-size: 40px;
  }
}

.c-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.c-strong-text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.p-mv {
  position: relative;
}
.p-mv__inner {
  display: flex;
}
.p-mv__msg {
  padding-top: 160px;
  padding-left: 15%;
}
@media screen and (max-width: 768px) {
  .p-mv__msg {
    padding-left: 20px;
  }
}
.p-mv__title {
  font-size: 90px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .p-mv__title {
    font-size: 41.25px;
  }
}
.p-mv__text {
  font-size: 28px;
  font-weight: 600;
  margin: 30px 0;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .p-mv__text {
    font-size: 13px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .p-mv-contact__btn {
    width: 250px;
  }
}
.p-mv__img {
  width: 100%;
  z-index: -1;
  margin-left: -120px;
}
@media screen and (max-width: 768px) {
  .p-mv__img {
    margin-left: -90px;
  }
}
.p-mv__img img {
  width: 100%;
  height: auto;
  border-radius: 0 0 0 50px;
}
@media screen and (max-width: 768px) {
  .p-mv__img img {
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.p-intro {
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  padding-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-intro {
    margin-top: -60px;
  }
}
.p-intro__title {
  font-weight: bold;
  font-size: 108px;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .p-intro__title {
    font-size: 56px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
.p-intro__subtitle {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .p-intro__subtitle {
    font-size: 16px;
    margin-top: 0;
  }
}
.p-intro__text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 32px;
}
@media screen and (max-width: 768px) {
  .p-intro__text {
    font-size: 15px;
    margin: 0 auto;
    width: 90%;
    margin-top: 25px;
    text-align: justify;
    line-height: 27px;
    padding: 0 20px;
  }
}

.p-about {
  max-width: 1300px;
}
@media screen and (max-width: 768px) {
  .p-about {
    padding-top: 20px;
  }
}
.p-about__content {
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-about__content {
    display: block;
  }
}
.p-about__content:nth-child(2) {
  flex-direction: row-reverse;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .p-about__content:nth-child(2) {
    margin-top: 30px;
  }
}
.p-about__content__img {
  width: 65%;
}
@media screen and (max-width: 768px) {
  .p-about__content__img {
    width: 100%;
  }
}
.p-about__content__img img {
  width: 100%;
}
.p-about__desc {
  max-width: 555px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-left: -100px;
  margin-top: 60px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .p-about__desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 30px 30px 30px;
  }
}
.p-about__desc:nth-child(2) {
  margin-right: -100px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .p-about__desc:nth-child(2) {
    position: relative;
    margin: 0 auto;
    margin-top: -10px;
  }
}
.p-about__subtitle {
  color: #EB51C2;
  font-size: 24px;
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
@media screen and (max-width: 768px) {
  .p-about__subtitle {
    font-size: 18px;
  }
}
.p-about__title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .p-about__title {
    font-size: 22px;
    line-height: 33px;
  }
}
.p-about__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 20px;
}
.p-about-contact__btn {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .p-about-contact__btn {
    margin-top: 40px;
  }
}

.p-trainer__inner {
  background-color: #EB51C2;
  padding: 80px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .p-trainer__inner {
    padding: 30px;
  }
}
.p-trainer__container {
  max-width: 1110px;
  margin: 0 auto;
}
.p-trainer-text {
  color: #fff;
}
.p-trainer__content {
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  .p-trainer__content {
    padding-top: 5px;
  }
}
.p-trainer__tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.p-trainer__tab__name {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.p-trainer__tab__name.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.p-trainer__card__area {
  display: grid;
  -moz-column-gap: 15px;
       column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .p-trainer__card__area {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
  }
}
.p-trainer__card__area.trainer__card__area.fadeOut {
  display: none;
  overflow: visible;
}
.p-trainer__card__area.staff__card__area {
  display: none;
  transition: ease 0.3s;
}
.p-trainer__card__area.staff__card__area.fadeIn {
  display: grid;
  overflow: visible;
}
.p-trainer__card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .p-trainer__card {
    margin-top: 15px;
  }
}
.p-trainer__card img {
  width: 100%;
  height: auto;
}
.p-trainer__card__text__area {
  padding: 20px;
  font-size: 15px;
  line-height: 24.5px;
}

.p-studio {
  max-width: 1110px;
}
@media screen and (max-width: 768px) {
  .p-studio {
    padding: 0 30px;
    padding-top: 40px;
  }
}
.p-studio-title {
  color: #000;
}
.p-studio-swiper {
  padding-top: 20px !important;
}
.p-studio .swiper-button-prev {
  width: 60px;
  height: 60px;
  opacity: 1 !important;
}
.p-studio .swiper-button-prev:after {
  content: "<";
  position: absolute;
  top: -10px;
  left: -40px;
  color: #EB51C2;
  background-color: #fff;
  border-radius: 50%;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 32px;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .p-studio .swiper-button-prev:after {
    padding-top: 17px;
    font-size: 20px;
  }
}
.p-studio .swiper-button-next {
  width: 60px;
  height: 60px;
  opacity: 1 !important;
}
.p-studio .swiper-button-next::after {
  content: ">";
  color: #EB51C2;
  position: absolute;
  top: -10px;
  left: 36px;
  background-color: #fff;
  border-radius: 50%;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 32px;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .p-studio .swiper-button-next::after {
    padding-top: 17px;
    font-size: 20px;
  }
}
.p-studio .swiper-pagination {
  position: static;
  margin-top: 20px;
}
.p-studio .swiper-pagination-bullet {
  background-color: #EB51C2;
}

.p-price__inner {
  background-color: #EB51C2;
  padding: 80px;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .p-price__inner {
    padding: 0 20px;
    padding-bottom: 60px;
  }
}
.p-price__title {
  max-width: 1110px;
  margin: 0 auto;
}
.p-price__content {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  -moz-column-gap: 15px;
       column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .p-price__content {
    grid-template-columns: repeat(1, 1fr);
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
.p-price__card {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-price__card {
    display: inline-block;
    margin-right: 20px;
  }
}
.p-price__card__price__box {
  padding-bottom: 20px;
}
.p-price__card__title {
  font-size: 26px;
  font-weight: 600;
}
.p-price__card__price__name {
  font-size: 48px;
  margin-top: 10px;
}
.p-price__card__fee__name {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.84px;
}
.p-price__card__box {
  padding: 30px 0;
}
.p-price__card__box:first-child {
  padding: 0;
  padding-bottom: 20px;
}
.p-price__card__box:last-child {
  padding-bottom: 0;
}

.p-faq {
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .p-faq {
    padding: 40px 30px 0 30px;
  }
}
.p-faq__inner {
  max-width: 1110px;
}
.p-faq-title {
  color: #000;
}
.p-faq__box {
  padding: 20px 0;
}
.p-faq__question__box {
  position: relative;
  display: flex;
  align-items: center;
}
.p-faq__question__box__logo {
  text-align: center;
  color: #EB51C2;
  font-size: 26px;
  font-weight: 600;
}
.p-faq__question__box__text {
  font-size: 15px;
  margin-left: 20px;
}
.p-faq__question__box::after {
  content: "∨";
  position: absolute;
  top: 50%;
  right: 0;
  color: #EB51C2;
  transition: all 0.5s ease;
}
.p-faq__question__box.open::after {
  transform: rotate(180deg);
}
.p-faq__answer__box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.p-faq__answer__box__logo {
  text-align: center;
  flex: 0 0 23px;
  color: #EB51C2;
  font-size: 26px;
  font-weight: 600;
}
.p-faq__answer__box__text {
  font-size: 15px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .p-faq__answer__box__text {
    line-height: 26px;
  }
}
.p-faq__answer__box.answer-open {
  display: block;
  transition: all 0.3s;
}

.p-contact {
  padding-bottom: 0;
}
.p-contact__inner {
  background-color: #EB51C2;
}
.p-contact__img {
  width: 100%;
}
.p-contact__img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .p-contact__img img {
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-contact__body {
  padding: 60px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-contact__body {
    padding: 30px 0;
  }
}
.p-contact-title {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .p-contact-title {
    font-size: 26px;
  }
}
.p-contact__contact__btn {
  background-color: #fff;
  margin-top: 20px;
}
.p-contact__contact__btn__text {
  color: #EB51C2;
  font-weight: 600;
}

.u-color-primary {
  color: #EB51C2;
}

.u-color-green {
  color: #00B21B;
}

.u-color-white {
  color: #fff;
}

.u-bg-white {
  background-color: #fff;
}

.u-underline {
  border-bottom: 1px solid #D9D9D9;
}/*# sourceMappingURL=styles.css.map */