@use "../global" as g;

.l-footer {
  @include g.mq(md) {
    padding: 50px 0;
  }
  background-color: #000;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    @include g.mq(md) {
      width: 87px;
    }
  }
}